body {
    background-color: #273a45;
}

hr {
    color: #ce262a;
}

a {
    color: #ce262a;
}

#quick-links {
    list-style-type: circle;
    color: #ce262a;
    line-height: 30px;
    
}

.header {
    color: #fffdfe;
}